/* Waybar style.css - i3 style z kolorystyką Catppuccin Mocha */

/* Kolory Catppuccin Mocha */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    color: @text;
}

/* Workspace buttons - styl jak w i3 */
#workspaces {
    background-color: transparent;
}

#workspaces button {
    background-color: transparent;
    color: @surface2;
    border: none;
    border-radius: 0;
    padding: 2px 2px;
    margin: 0px 4px;
    min-width: 14px;
}

#workspaces button:hover {
    background-color: @surface0;
    color: @text;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: transparent;
    color: @text;
    border-bottom: 0px solid @text;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#workspaces button.visible {
    color: @text;
}

/* Moduły - tylko tekst bez tła */
#mode,
#window,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#temperature,
#bluetooth,
#custom-temperature,
#custom-expand-icon,
#custom-update,
#tray {
    background-color: transparent;
    color: @text;
    padding: 2px 2px;
    margin: 0px 2px;
    border: none;
}

/* Tytuł okna */
#window {
    color: @text;
}

/* Zegar */
#clock {
    color: @text;
}

/* Bateria */
#battery {
    color: @text;
}

#battery.warning {
    color: @text;
}

#battery.critical {
    color: @text;
}

#battery.charging {
    color: @text;
}

/* CPU */
#cpu {
    color: @text;
}

/* Pamięć */
#memory {
    color: @text;
}

/* Sieć */
#network {
    color: @text;
}

#network.disconnected {
    color: @overlay2;
}

/* Dźwięk */
#pulseaudio {
    color: @text;
}

#pulseaudio.muted {
    color: @overlay2;
}

/* Jasność */
#backlight {
    color: @text;
}

/* Temperatura */
#custom-temperature {
    color: @text;
}

#temperature.critical {
    color: @red;
}

/* Tryb (mode) */
#mode {
    background-color: @red;
    color: @base;
    font-weight: bold;
}

/* System tray */
#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
