@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 5px;
  margin: 3px 2.5px;
  min-width: 9px;
}

#workspaces button.empty {
opacity: 0.25;
}

#workspaces button.active.hosting-monitor, #workspaces button.active.hosting-monitor label {
  color: @background;
  background-color: @foreground;
  font-weight: 900;
  min-width: 9px;
}

#workspaces button.hosting-monitor:not(.empty) {
  border: 1px solid #666;
}
#workspaces button.hosting-monitor.active {
  background-color: @foreground;
  border: none;
}

#cpu,
#battery,
#pulseaudio,
#custom-temperature,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 8px;
}

#tray {
  margin-right: 8px;
}

#bluetooth {
  margin-right: 8px;
  margin-left: 8px;
}

#network {
  margin-right: 8px;
}

#custom-expand-icon {
  margin-right: 8px;
}

#tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
