*{
font-family: "JetBrainsMono Nerd Font";
font-size: 11pt;
padding: 0px;
margin-top: 1px;
margin-bottom: 1px;
}

window#waybar {
    background: rgba(30,30,47,0.0);
}

window#waybar.hidden {
    opacity: 0.9;
}
   
tooltip {
    background: rgba(30,30,47,0.0);
    border-radius: 10px;
    /*border: 1px solid #cba6f7;*/
}

tooltip label {
    color: #cdd6f4; 
    margin-right: 2px;
    margin-left: 2px;
}

/*-----module groups----*/
.modules-right {
    background: rgba(30,30,47,0.0);
    /*background-color: #1e1e2f;*/
    border: 0px solid #b4befe;
    border-radius: 10px;
}

.modules-center {
    background: rgba(30,30,47,0.0);
    /*background-color: #1e1e2f;*/
    border: 0px solid #b4befe;
    border-radius: 10px;
}

.modules-left {
    background: rgba(30,30,47,0.0);
    /*background-color: #1e1e2f;*/
    border: 0px solid #b4befe;
    border-radius: 10px;
}

#workspaces button {
    padding: 2px;
    color: #6E6A86;
    margin-right: 5px;
}
   
#workspaces button.active {
    color: #cdd6f4;
    /*color: #bd93f9;*/  
    /*border-radius: 0 0 0 0;*/
}
  
#workspaces button.focused {
    color: #cdd6f4;
}
   
#workspaces button.urgent {
    color: #1e1e2f;
    /*border-radius: 10px;*/
}
       
#workspaces button:hover {
    color: #1e1e2f;
    /*border-radius: 15px;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#mode,
#tray,
#cava,
#backlight,
#window,
#idle_inhibitor,
#keyboard-state,
#keyboard-state label,
#keyboard-state label.locked,
#mpd,
#bluetooth,
#taskbar,
#taskbar button,
#workspaces,
#custom-light_dark,
#custom-updater,
#custom-zypper,
#custom-menu,
#custom-cycle_wall,
#custom-power,
#custom-spotify,
#custom-weather,
#custom-power,
#custom-lock,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default, 
#idle_inhibitor {
  /*color: #bd93f9;*/
  color: #cdd6f4;  
  padding: 0px 10px;
  border-radius: 10px;
}



#temperature.critical {
/*  background-color: #ff0000;*/
    color: #f38ba8;
}

@keyframes blink {
  to {
    color: #282a36;
  }
}

#taskbar button.active {
  background-color: #7f849c;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
