[Desktop Entry]
Version=1.0
Name=bitwarden-web
Comment=bitwarden
Exec=omarchy-launch-webapp "https://vault.bitwarden.com/#/vault"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/bitwarden.png
StartupNotify=true
