[Desktop Entry]
Version=1.0
Name=Facebook
Comment=Facebook
Exec=omarchy-launch-webapp "https://www.facebook.com/"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/facebook.png
StartupNotify=true
