[Desktop Entry]
Version=1.0
Name=google-dokumenty
Comment=google-dokumenty
Exec=omarchy-launch-webapp "https://docs.google.com/document/d/1H2ik0x9Z5sSVq-KeJNEUKs4TEAwGbXlz9zdWHvPHE7Q/edit?tab=t.0" --name="google-dokumenty" --class="google-dokumenty"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/google-docs.png
StartupNotify=true
