[Desktop Entry]
Version=1.0
Name=Google Zadania
Comment=Google Zadania
Exec=omarchy-launch-webapp "https://calendar.google.com/calendar/u/0/r/tasks"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/google-zadania.png
StartupNotify=true
