[Desktop Entry]
Version=1.0
Name=GDrive
Comment=GDrive
Exec=google-chrome-stable --new-window --ozone-platform=wayland --app="https://drive.google.com/drive/starred" --name="gdrive" --class="gdrive"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/google-drive.png
StartupNotify=true
