[Desktop Entry]
Version=1.0
Name=google-kalendarz
Comment=google-kalendarz
Exec=google-chrome-stable --new-window --ozone-platform=wayland --app="https://calendar.google.com/calendar/u/0/r/month" --name="google-kalendarz" --class="google-kalendarz"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/google-calendar.png
StartupNotify=true
