[Desktop Entry]
Version=1.0
Name=Google Kontakty
Comment=Google Kontakty
Exec=omarchy-launch-webapp "https://contacts.google.com/?hl=pl&tab=mC"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/google-contacts.png
StartupNotify=true
