[Desktop Entry]
Version=1.0
Name=google-drive
Comment=google-drive
Exec=google-chrome-stable --new-window --ozone-platform=wayland --app="https://drive.google.com/drive/starred" --name="google-drive" --class="google-drive"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/google-drive.png
StartupNotify=true
