[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Gmail
Exec=omarchy-launch-webapp "https://mail.google.com/mail/u/0/#inbox"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/gmail.png
StartupNotify=true
