[Desktop Entry]
Version=1.0
Name=Grok AI
Comment=Grok AI
Exec=omarchy-launch-webapp "https://grok.com" --name="grok" --class="grok"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/grok.png
StartupNotify=true
