[Desktop Entry]
Version=1.0
Name=JK Email
Comment=JK Email
Exec=omarchy-launch-webapp https://poczta22599.domeny.host/?_task=mail&_mbox=INBOX
#Exec=google-chrome-stable --new-window --ozone-platform=wayland --app="https://poczta22599.domeny.host/?_task=mail&_mbox=INBOX" --name="email-jk" --class="email-jk"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/email-jk.png
StartupNotify=true
