[Desktop Entry]
Version=1.0
Name=MS OneDrive
Comment=MS OneDrive
Exec=omarchy-launch-webapp "https://onedrive.live.com/?view=1" --name="ms-onedrive" --class="ms-onedrive"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/ms-onedrive.png
StartupNotify=true
