[Desktop Entry]
Version=1.0
Name=ms-powerpoint
Comment=ms-powerpoint
Exec=google-chrome-stable --new-window --ozone-platform=wayland --app="https://powerpoint.cloud.microsoft/?wdOrigin=OFFICECOM-WEB.APPBAR%2CAPPHOME-WEB.UNAUTH%2CAPPHOME-WEB.SHELL.SIGNIN" --name="ms-powerpoint" --class="ms-powerpoint"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/ms-powerpoint.png
StartupNotify=true
