[Desktop Entry]
Version=1.0
Name=Proton Pass
Comment=Proton Pass
Exec=omarchy-launch-webapp "https://pass.proton.me/u/3/inbox" --name="proton-pass" --class="proton-pass"
Terminal=false
Type=Application
Icon=/home/hubert/.local/share/applications/icons/proton-pass.png
StartupNotify=true
